<li class="bookmark-item">
  <a href="{{link}}" target="blank" class="link">{{link}}</a>
  <button class="delBtn" value="">X</button>
</li>

<!-- <div class="grid-item">
  <img src={{webformatURL}} alt="photo">
</div>
 -->